<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Alsamos</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Alsamos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Alsamos kameradan suratga olish va videolar uchun foydalanadi</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Alsamos ovozli xabar va qo'ng'iroqlar uchun mikrofondan foydalanadi</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Alsamos rasm va video tanlash uchun galereyadan foydalanadi</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Alsamos saqlangan media fayllarni galereyaga qo'shadi</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Alsamos joylashuvga asoslangan funksiyalar uchun foydalanadi</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Alsamos sizning joylashuvingizni do'stlar bilan ulashish uchun ishlatadi</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Alsamos fonda joylashuv kuzatuvi uchun foydalanadi</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Alsamos yaqin atrofdagi qurilmalarni topish uchun Bluetooth dan foydalanadi</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Alsamos yaqin atrofdagi qurilmalarni topish uchun Bluetooth dan foydalanadi</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Alsamos sizga moslashtirilgan kontent ko'rsatish uchun ishlatadi</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Alsamos uchrashuvlar va eventlarni qo'shish uchun kalendardan foydalanadi</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>voip</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Alsamos do'stlaringizni topish uchun kontaktlardan foydalanadi</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Tezkor va xavfsiz kirish uchun Face ID dan foydalanadi</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
